.site-title p{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(40, end);
      /*blink-caret .75s step-end infinite;*/
  }

    /* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}

/* The typewriter cursor effect */
/*@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}*/
  

.site-title, .site-title:visited{
    color: white;
  }

.home_body{
    background-color: #353839;
  }

.post-list{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #414446;
  }

.post-list-heading{
    color: #828282;
  }

.site-nav .page-link {
    color: #828282;
  }