.body{
    background-color: #353839;
}
.content{
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

h3{
    color: #828282;
}

h2{
    color: #eeadad;
    font-weight: 600;
}

h1{
    color: #8d8b8b;
    font-weight: bold;
}

.site-nav .page-link {
    color: #828282;
  }

.features{
    padding: 10px;
    background-color: #615e5e;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(147, 145, 145, 0.5),
            inset 5px 5px 8px rgba(147, 145, 145, 0.5);
}