.body {
  background-color: #110f0f;
}
.content {
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  color: #ff2d00;
}

h2 {
  color: #eeadad;
  font-weight: 600;
}

h1 {
  color: #8d8b8b;
  font-weight: bold;
}

.site-nav .page-link {
  color: #828282;
}

.row {
  display: flex;
}

.column {
  padding: 5px;
}
