.body{
    background-color: #353839;
}
.content{
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

h3{
    color: #828282;
  }

h2{
    color: #1756a9;
}

.page-link{
    color: #828282;
}